**/bin/
!vendor/bin/premake/
bin-int/

#comet files
**.vert
**.frag
**.comp

#log files
**.log

#imgui files
**imgui.ini

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user