[submodule "Comet/Vendor/spdlog"]
	path = Comet/Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Comet/Vendor/GLFW"]
	path = Comet/Vendor/GLFW
	url = https://github.com/ej20002015/glfw
[submodule "Comet/Vendor/imgui"]
	path = Comet/Vendor/imgui
	url = https://github.com/ej20002015/imgui
[submodule "Comet/Vendor/GLM"]
	path = Comet/Vendor/GLM
	url = https://github.com/g-truc/glm
[submodule "Comet/Vendor/ImGuizmo"]
	path = Comet/Vendor/ImGuizmo
	url = https://github.com/ej20002015/ImGuizmo
[submodule "Comet/Vendor/yaml-cpp"]
	path = Comet/Vendor/yaml-cpp
	url = https://github.com/ej20002015/yaml-cpp.git
